*{
    padding: 0;
    margin: 0;
}
.Logo.ht.jfif{
 width: 20px;
 height: auto;
}
section{
    height: 100vh;
}
.navbar{
    color: #000;
}
.vin{
    width: 200px;
    height: auto;
}
#s1{
    padding-top: 190px;
    flex-wrap: wrap;
    gap: 2vw;
}
.s1-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.s1-right{
    width: 600px;
}
.wrap-img{
     width: 400px;
     overflow: hidden;
}
.img-s1{
    width: 200px;
    height: 100px;
    filter: grayscale(1);
    border-radius: 100%;
}
.img-s1:haver{
    filter: grayscale(0);
    transform: scale(1.1);
}
.tilte-name{
       font-family: Embed code; 
}
@media(width < 1000px){
    .s1{
        padding: 80px 20px 0px 20px;
    }
    .wrap-img{
        width: 400px;
   }
   .img-s1{
       width: 300px;
       height: 300px;
   }

}
#s2{
    Imagem: url("./assets/Imagem.jpg") ;
    Imagem-repeat: no-repeat;
    Imagem-size: cover; 
}

